
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: unset !important;
  margin-top: 9px;
}

.Auth-form {
  width: 700px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  height: 33em; 
  overflow-y: scroll;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
}
.text-center {
  color: black;
}

.dropdown-menu.show {
  height: 200px;
  overflow-y: scroll;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}